<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div>
            <ul>
                <li class="liNavbar"><a href="">INICIO</a></li>
                <li class="liNavbar"><a href="">TOKYO REVENGERS</a></li>
                <li class="liNavbar"><a href="">CHAINSAW MAN</a></li>
                <li class="liNavbar"><a href="">BEASTARS</a></li>
                <li class="liNavbar"><a href="">BOKU NO HERO</a></li>
                <li class="liNavbar"><a href="">SHINGEKI NO KYOJIN</a></li>
                <li class="liNavbar"><a href=""><img class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt=""></a></li>
                <li class="liNavbar"><a href=""><img class="imgNavbar" src="https://i.imgur.com/GD5HkfC.png" alt=""></a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- <div>
    <h1>usuario</h1>
    <p>nombre: {{name}}</p>
    <p>apellido: {{lastname}}</p>
    <p>edad: {{age}}</p>
    <p>email: {{email}}</p>
    <p>telefono: {{phone}}</p>
</div> -->

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketServer.js"></script>