<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div class="divNavbar">
            <ul class="ulNavbar">
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>INICIO</b></a></li>
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>TOKYO REVENGERS</b></a></li>
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>CHAINSAW MAN</b></a></li>
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>BEASTARS</b></a></li>
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>BOKU NO HERO</b></a></li>
                <li class="liNavbar hover"><a class="anchorNavbar" href=""><b>SHINGEKI NO KYOJIN</b></a></li>
                <li class="liNavbar"><a class="anchorNavbar" href=""><img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt=""></a></li>
                <li class="liNavbar"><a class="anchorNavbar" href=""><img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/GD5HkfC.png" alt=""></a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Encabezado -->
<section>
    <div class="featuredProducts">
        <h1 class="featuredMangas">Todos los productos</h1>
    </div>
</section>

<!-- Productos -->
<div class="cardsContainer">
    <div class="bigContainer">
        {{#each product}}
            <div class="productCards">
                <img class="productImage" src="{{this.thumbnail}}">
                <div class="textCardsContainer">
                    <h2 class="cardsTexts cardTitle">{{this.title}}</h2>
                    <h3 class="cardsTexts cardVolume">{{this.volume}}</h3>
                    <h4 class="cardsTexts cardEditorial">{{this.editorial}}</h4>
                    <h5 class="cardsTexts cardAuthor">{{this.author}}</h5>
                    <h5 class="cardsTexts cardPrice"><b>{{this.price}}</b></h5>
                    <p class="cardsTexts cardStock">{{this.stock}} unidades</p>
                    <button class="seeMoreButton"><a class="seeMoreAnchor" href="">VER MÁS</a></button>
                </div>
            </div>
        {{/each}}   
    </div>
</div>

<!-- Botón que redirige a la vista de chat -->
<section>
    <div class="iconChatContainer">
        <a href="/api/chat"><img class="iconChat" src="https://i.imgur.com/nr0312M.png" alt=""></a>
        <span class="tooltip">¿Te ayudo?</span>
    </div>
</section>

<footer>
    <div class="iconsFooterGroup">
        <div class="iconsListContainer">
            <ul class="ulFooter">
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/CZHVTEg.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/mrb29b5.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="logoFooter" src="https://i.imgur.com/SOkKtmX.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/YqcLS5Q.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/znYxgT8.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketServer.js"></script>